<a href="https://colab.research.google.com/github/ZYNOCODES/MyPriticale-DeepLearning-Using-PyTorch/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pratical ML python

In [ ]:
#Numpy
import numpy as np
'''
#create an array
np1 = np.array([-1,0,1,2,3,4,5,6,7,5,9])
print(np1)
#array shape
print(np1.shape)
#create an array of 10 items starting filling it from 0
np2 = np.arange(10)
print(np2)
#create an array of 10 items starting filling it from 0 and steps will be by 2
np3 = np.arange(0,10,2)
print(np3)
#create an array of 10 items of number 0
np4 = np.zeros(10)
print(np4)
#create two dimensionnel array of 10 items of number 0
np5 = np.zeros((2,10))
print(np5)
#create an array of 10 items of number 6
np6 = np.full((10), 6)
print(np6)
#create two dimensionnel array of 10 items of number 9
np7 = np.full((2,10), 6)
print(np7)
#convert python list to nparray
myList = [1,2,3,4]
np8 = np.array(myList)
print(np8)

#Slicing in 1D numpy array
#return [1 2 3 4]
print(np1[1:5])
#return from somthing to the end
print(np1[3:])
#return from end
print(np1[-3:-1])
#return with steps
print(np1[1:5:2])
#return all by steps
print(np1[::2])

#Slicing in 2D numpy array
np2D = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(np2D[1,3])
#return from first line 1:3
print(np2D[0:1, 1:3])
#return from the two lines 1:3
print(np2D[0:2, 1:3])

#Universal function in numpy
#Square route of each element
#print(np.sqrt(np1))
#Absolute value
print(np.absolute(np1))
#Expo
print(np.exp(np1))
#min/max
print(np.max(np1))
print(np.min(np1))
#sign positive or negative
print(np.sign(np1))
#trig sin cos
print(np.sin(np1))
print(np.cos(np1))

#Copy vs View in numpy
#create a view
npView = np1.view()
print(npView)
print(np1)
np1[0] = 10
print(npView)
print(np1)
#create a copy
npCopy = np1.copy()
print(npCopy)
print(np1)
np1[0] = -1
print(npCopy)
print(np1)

#Shaping an nparray
#create 1D numpy array
np1D = np.array([1,2,3,4,5,6,7,8,9,10])
print(np1D.shape)
#create 2D numpy array
np2D = np.array([[1,2,3,4,5],[6,7,8,9,10]])
print(np2D.shape)
#reshape 2D
rnp1D = np1D.reshape(2,5)
print(rnp1D)
#reshape 1D
rnp2D = rnp1D.reshape(-1)
print(rnp2D)

#Alterating
print("---1D---")
for x in np1:
  print(x)
print("---2D---")
for x in np2D:
  for y in x:
    print(y)
#OR
for x in np.nditer(np2D):
  print(x)

#Sorting
#numerical
npSort = np.array([3,2,0,1])
print(npSort)
print(np.sort(npSort))
#alphabetical
npSort = np.array(['banana', 'cherry', 'apple'])
print(npSort)
print(np.sort(npSort))

#Searching
x = np.where(np1 == 5)
print(x[0])

#Filtering numpy arrays
filter = [True, False, True, False, True, False, True, False, True, False, True]
newNp = np1[filter]
print(newNp)
#OR
filter = []
for x in np1:
  if x > 5:
    filter.append(True)
  else:
    filter.append(False)
newNp = np1[filter]
print(newNp)
'''

#Pandas
import pandas as pd
'''
#Series
#create a serie
myList = [1,2,3,4,5,6]
mySeries = pd.Series(myList)
print(mySeries)
print(mySeries[0])
#labels
mySeries = pd.Series(myList, index = ["a","b","c","d","e","f"])
print(mySeries)
print(mySeries["b"])
#key value dictionary
cars = {"BMW": 10, "Volvo": 4, "Ford":1}
mySeries = pd.Series(cars)
print(mySeries)
'''

from numpy.random import randn

#create data frame
myData = randn(4,3)
myRows = ["A","B","C","D"]
myCols = ["Monday","Tuesday","Wednesday"]
myDF = pd.DataFrame(myData, myRows, myCols)
#print(myDF)
#import df
df2 = pd.read_csv('/content/sample_data/mnist_test.csv')
#df2.head()
df2.head(9)
#pull out rows
#df2.loc[0]
#df2.loc[[0,5]]
#pull out collums
#df2.iloc[:, 2]

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df2.tail(8)

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
9991,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9992,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9993,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Columns: 785 entries, 7 to 0.667
dtypes: int64(785)
memory usage: 59.9 MB

In [ ]:
df2.shape

(9999, 785)

In [ ]:
df2.ndim

2

In [ ]:
df2.dtypes

7        int64
0        int64
0.1      int64
0.2      int64
0.3      int64
         ...
0.663    int64
0.664    int64
0.665    int64
0.666    int64
0.667    int64
Length: 785, dtype: object

In [ ]:
df2.describe()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
count,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.000000,9999.000000,9999.000000,9999.000000,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
mean,4.443144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.179318,0.163616,0.052605,0.000600,0.0,0.0,0.0,0.0,0.0,0.0
std,2.895897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.674433,5.736359,2.420125,0.060003,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,253.000000,156.000000,6.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df2["7"].describe()

count    9999.000000
mean        4.443144
std         2.895897
min         0.000000
25%         2.000000
50%         4.000000
75%         7.000000
max         9.000000
Name: 7, dtype: float64

In [ ]:
df2["7"].value_counts()

7
1    1135
2    1032
7    1027
3    1010
9    1009
4     982
0     980
8     974
6     958
5     892
Name: count, dtype: int64

In [ ]:
df2["7"].value_counts(ascending=True)

7
5     892
6     958
8     974
0     980
4     982
9    1009
3    1010
7    1027
2    1032
1    1135
Name: count, dtype: int64

In [ ]:
df2["7"].value_counts(dropna=False)

7
1    1135
2    1032
7    1027
3    1010
9    1009
4     982
0     980
8     974
6     958
5     892
Name: count, dtype: int64

In [ ]:
df2["7"].value_counts(normalize=True)

7
1    0.113511
2    0.103210
7    0.102710
3    0.101010
9    0.100910
4    0.098210
0    0.098010
8    0.097410
6    0.095810
5    0.089209
Name: proportion, dtype: float64

In [ ]:
df2["7"].value_counts()[1]

1135

In [ ]:
df2.groupby("7").size()

7
0     980
1    1135
2    1032
3    1010
4     982
5     892
6     958
7    1027
8     974
9    1009
dtype: int64

# Deep Learning

In [6]:
import torch